* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  	font-size: 16px;
  	font-family: 'Lato', sans-serif;
  	margin: 0;
	background-color: #d8d8d8;
	background: #d8d8d8; /* Old Browsers */ /*Safari 5.1-6*/ /*Opera 11.1-12*/ /*Fx 3.6-15*/
	background: -webkit-gradient(linear, right top, left bottom, from(#99dba0), to(#d8d8d8));
	background: linear-gradient(to bottom left, #99dba0, #d8d8d8);/* Standard*/
}

a {
   	background-color: #E5EDF3;
    padding: 6px;
    border-radius: 6px;
    color: #3E474F;
    text-decoration: none;
}
img {
	width: 100%;
}
h1, h2 {
    font-family: 'Lato', sans-serif;
}
h3, h4, h5, h6 {
	font-family: 'Kaushan Script', cursive;
}
h2 {
    margin-bottom: 0;
	color: #3E474F;
}
p {
    font-family: 'Lato', sans-serif;
}
ol, ul {
  	margin: 0;
  	padding: 0;
  	list-style-type: none;
	overflow: hidden;
}
footer {
    text-align: center;
    padding: 8px;
}


/* MENU-CONTAINER  and HAMBURGER
====================================*/
nav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	background-color: #3E474F;
	height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
	transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.hidden {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}
.nav-container {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 1;
	background-color: #969696;
	background: #d8d8d8;
	background: -webkit-gradient(linear, right top, left bottom, from(rgba(153,219,160,1)), to(rgba(255,255,255,1)));
	background: linear-gradient(to bottom left, rgba(153,219,160,1), rgba(255,255,255,1));
}
.nav-links {
	padding: 2em 0;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.nav-links li {
	line-height: 2;
	text-align: center;
	font-size: 2em;
}

.nav-links li>a {
	padding: 1.2em;
	font-family: 'Roboto', sans-serif;
	color: #344037;
	background-color: transparent;
	display: block;
	width: 100%;
	-webkit-transition: all .3s ease-in;
	-webkit-transition: all .2s ease;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.nav-links li>a:active {
	color: #41a35f;
}
.nav-links li>a:hover,
.nav-links li>a:focus {
	color: #3E474F;
	letter-spacing: 2px;
	font-weight: bold;
	background-color: rgba(255,255,255,.2);
}
.menu-container {
	z-index: 1000;
	margin-top: .5em;
	cursor: pointer;
	margin: 0 0 0 auto;
	padding: .6em;
}
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

/*ROTATE FIRST BAR*/
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}
/*FADE OUT SECOND BAR*/
.change .bar2 {
	opacity: 0;
}
/*ROTATE LAST BAR*/
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

/* HEADER AND LOGO AND TAGLINE
====================================*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 5px;
	margin: 0;
	background-color: #3E474F;
	height: 60px;
	z-index: 1;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
	transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);	

}
.logo {
	height: 60px;
}
.logo a {
	margin: 5px;
	padding-right: .25em;
	height: 60px;
	font-family: 'Kaushan Script', cursive;
	font-size: 1.8em;
	color: #3E474F;
	background-color: #fff;
	border-radius: 10%;
	border: solid 4px #3E474F;
}


/* MAIN BODY
====================================*/
.main-cont {
	height: 100vh;
	z-index: -1;
	padding: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-bottom: solid 4px #fff;
	background: -webkit-gradient(linear, left top, right bottom, from(rgba(153,219,160,1)), to(rgba(255,255,255,1)));
	background: linear-gradient(to bottom right, rgba(153,219,160,1), rgba(255,255,255,1));
}
.slide-out {
	display: none;
}

.intro {
    font-size: 3.5em;
	color: 	#344037;
}
.intro-cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.hero {
	width: 150px;
	-ms-flex-item-align: center;
	align-self: center;
}
.hero img {
	border-radius: 50%;
	border: solid 6px #fff;
}



/* PROJECTS PAGE
====================================*/
.projects-cont {
	background: -webkit-gradient(linear, right top, left bottom, from(#99dba0), to(#d8d8d8));
	background: linear-gradient(to bottom left, #99dba0, #d8d8d8);/* Standard*/
}
#projects ol {
	max-width: 100%;
	margin: 0 auto;
	padding: 1em .6em;
}
.text-arrow {
	padding: 1em;
	text-align: center;
}

p.scroll-text {
	margin: 0;
	padding-left: .5em;
	letter-spacing: .5em;
	cursor: pointer;
	color: #344037;
	text-transform: ;
}

.down-arrow svg {
	color: #344037;
	width: 100%;
	margin: auto;
	cursor: pointer;
}
.projects-back {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	z-index: 0;
	height: 100vh;
	background-color: rgba(255,255,255,.2);
	background: -webkit-gradient(linear, right top, left bottom, from(rgba(95,207,128,.5)), to(rgba(255,255,255,1)));
	background: linear-gradient(to bottom left, rgba(95,207,128,.5), rgba(255,255,255,1));
}
.projects-intro {
	height: 100vh;
	margin-top: 0px;
	padding: 0;
	font-size: 1.2em;
	background-attachment: scroll;
	background-image: url("../assets/treehouseBack.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.projects-intro img {
	width: 32px;
}
.projects-text {
	margin-top: 80px;
	padding: 0 5px;
}
.project-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}
.project-list li {
	-ms-flex-preferred-size: 80px;
	flex-basis: 80px;
	text-align: center;
}
.treeHouse-projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
	margin: 80px auto 0;
}
.treeHouse-projects-list li[data-aos] {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	margin: 10px auto 60px;
	padding: 0 0 10px;
	background-color: #fff;
	border-radius: 8px;
	-webkit-box-shadow: 5px 5px 15px 0px rgba(150, 150, 150, .4);
	box-shadow: 5px 5px 15px 0px rgba(150, 150, 150, .4);
}

.accordion-wrap .accordion {
	padding: 1em;
	line-height: .8;
	width: 90%;
	margin: auto;
	text-align: center;
	background: transparent; 
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
	cursor: pointer;
	border: none;
	outline: none;
}
.accordion:hover {
	color: #5FCF80;
}

.accordion-wrap .accordion .fa {
	color: #344037;
	-webkit-transition: all .5s;
	transition: all .5s;
	float: ;
	margin-left: 1em;
	text-align: center;
}

.accordion-wrap .accordion .active {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.accordion-wrap h4.ui-accordion-header {
	margin-top: 8px;
	padding: 1em
}
.accordion-wrap .ui-accordion-content {
	padding: 0;
	margin-bottom: .5em;
	border: none;
	overflow: hidden;
}
.panel {
	width: 80%;
	font-size: .9em;
	margin: -8px auto 0;
}
.skill-list, .challenge-cont p {
	padding-top: .2em;
	font-size: .8em;
	width: 80%;
	margin: auto;
}
.btn-group {
	position: relative;
	overflow: hidden;
	height: 24px;
	margin-top: auto;
	margin-left: auto;
	margin-bottom: -12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 1;
	-webkit-transition: height .3s ease-in;
	transition: height .3s ease-in;
}
.btn-group:hover,
.btn-group:focus {
	height: 40%;
}
.btn-group div {
	position: relative;
	border-radius: 8px 8px 0 0;
	background-color: #5fcf80;
	margin-left: .2em;
	margin-bottom: 2px;
	padding: 0 .5em;
	-webkit-transition: background .3s ease-in;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.btn-group div:hover,
.btn-group div:focus {
	background-color: #fff;
}
.btn-group div a {
	background-color: transparent;
	padding: 0;
}
.btn-group img {
	display: block;
	margin: 0 auto;
}
.btn-text {
	font-family: 'Kaushan Script', cursive;
	font-size: .8em;
	margin: 0 auto 4px;
	opacity: 1;
	text-align: center;
	-webkit-transition: opacity .4s ease-in;
	transition: opacity .4s ease-in;
}
.live-btn {
	width: 32px;
	height: 32px;
}
.git-btn {
	width: 32px;
	height: 32px;
	opacity: 1;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-transition-timing-function:cubic-bezier(.94,0,0.5,.91);
	transition-timing-function:cubic-bezier(.94,0,0.5,.91);
}

.screenshot {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: solid 4px #c3c3c3;
	border-radius: 8px;
	margin: 1em auto;
	padding: .5em;
	width: 75%;
	height: 175px;
	background-repeat: no-repeat;
	background-position: top;
	background-size: 180%;
}
.title-cont {
	position: relative;
	min-height: 80px;
	border-radius: 8px 8px 0 0;
	background-color: #3E474F;
	border-bottom: solid 8px #969696;
}
.title-cont:before {
	content: "";
	position: absolute;
	display: block;
	border-bottom: solid 2px #d8d8d8;
	bottom: 0;
	top: 5px;
	left: 0;
	right: 0;
	background: none;
}
.title-cont h2 {
	width: 80%;
	line-height: 40px;
	font-size: 1.4em;
	padding: .5em;
	margin-top: 0;
	color: 	#fff;
}
.title-cont:after {
	content: "";
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 15px;
	right: 5px;
	background-repeat: no-repeat;
	background-image: url(../assets/icons/svg-icons/treehouse.svg);
	background-color: ;
}
#forms {
	margin-top: 0;
}
.form {
	background-image: url("../assets/screenshots/forms/full-page.png");
}
.photo-gallery {
	background-image: url("../assets/screenshots/img-gallery/fullscreen.png");
	background-size: 80%;
}
.sass {
	background-image: url("../assets/screenshots/SaSS/cssSaSS.png");
	background-size: 80%;
}
.svg {
	background-image: url("../assets/screenshots/SVG/svg.png");
	background-size: 80%;
}
.access {
	background-image: url("../assets/screenshots/accessible/fullsreen-desktop.png");
	background-size: 80%;
}
.video {
	background-image: url("../assets/screenshots/video-gallery/fullscreen-mobile.png");
	background-size: 80%;
}
.dashboard {
	background-image: url("../assets/screenshots/webApp/fullscreen-checkmess.png");
	background-size: 80%;
}
.api {
	background-image: url("../assets/screenshots/api/filmpage.png");
	background-size: 80%;
}
.optimize {
	background-image: url("../assets/screenshots/Optimize/optimize.png");
	background-size: 80%;
}
.screen-overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	position: absolute;
	border-radius: 4px;
	background-color: rgba(255,255,255,.8);
}
.screen-overlay:hover + .btn-group,
.screen-overlay:focus + .btn-group {
	height: 40%;
}
.screen-overlay:hover + .btn-group div .btn-text,
.screen-overlay:focus + .btn-group div .btn-text {
	color: #fff;
}
.icon-done {
	display: inline-block;
	width: 20%;
	height: 25%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI%2BDQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNTAwcHgiIGhlaWdodD0iNTAwcHgiIHZpZXdCb3g9IjAgMCA1MDAgNTAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MDAgNTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxjaXJjbGUgZmlsbD0iIzVGQ0Y4MCIgY3g9IjI1MCIgY3k9IjI1MCIgcj0iMjUwIi8%2BDQoJPGc%2BDQoJCTxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yMjgsMzc2bC05NS05M2MtMTItMTEtMTItMzAsMC00MmMxMi0xMSwzMS0xMSw0MiwwbDQ5LDQ4bDk4LTExNmMxMS0xMiwyOS0xNCw0Mi00czE0LDI5LDQsNDFMMjI4LDM3NnoiDQoJCQkvPg0KCTwvZz4NCjwvZz4NCjwvc3ZnPg0K);
}
.exceed-icon {
	color: #5fcf80;
	z-index: 1;
	margin-bottom: auto;
}
.meet-icon {
	color: #3f8abf;
	z-index: 1;
	margin-bottom: auto;
}
.meets {
	display: inline-block;
	width: 20%;
	height: 25%;
}
.meets svg {
	fill: #3f8abf;
}
/* CONTACT PAGE
====================================*/
#contact {
	padding-top: 80px;
	height: 100vh;
}
.contact-cont {
	padding: 1em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #fff;
}
.main-contact-cont {
	border-radius: 8px;
	background-color: ;
}
.icon-cont {
	max-width: 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.contact-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

form {
	font-family: 'Lato', sans-serif;
	
}
.mc-field-group {
	padding: 4px;
}
label {
	display: inline-block;
	margin-bottom: .2em;
	width: 25px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	background-color: #969696;
	border-radius: 4px;
	text-align: center;
}
input {
	outline: none;
	margin: 0 .2em .2em;
	padding: .5em;
	color: #344037;
	border: none;
	border-radius: 4px 4px 0 0;
	border-bottom: thin solid #d8d8d8;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
input:focus {
	background: rgba(153,219,160,.5);
	
}
input::-webkit-input-placeholder {
	color: #969696;
}
input:-ms-input-placeholder {
	color: #969696;
}
input::placeholder {
	color: #969696;
}
.indicates-required {
	font-size: .8em;
}
.fa-asterisk {
	color: #99dba0;
}




/* CONTACTS PAGE ICONS
====================================*/
.ci-cont {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
}
.contact-icon {
	display: block;
	margin: auto;
	text-indent: -9999px;
	width: 40px;
	height: 40px;
	background: transparent;
	background-size: contain;
}
.ci-cont p {
	text-transform: lowercase;
	margin: 0;
	cursor: default;
	font-size: .75em;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
	color: #41a35f;
	letter-spacing: -.4px;
	text-align: center;
}
a.contact-icon:hover + p {
	color: #3E474F;
}
.social {
	text-indent: -9999px;
}
a.social {
  	display: inline-block;
  	margin-left: 5px;
  	width: 20px;
  	height: 20px;
  	background-size: 20px 20px;
	border-radius: 2px;
  	opacity: .8;
	-webkit-transition: all .5s;
  	-webkit-transition: all .3s;
	transition: all .3s;
}
a.fb-mess {
	background-image: url(../assets/icons/svg-icons/media.svg);
	background-repeat: no-repeat;
}
a.linkedin {
	background-image: url(../assets/icons/svg-icons/linkedin.svg);
}
a.github {
	background: none;
	background-image: url(../assets/icons/svg-icons/github.svg);
	background-repeat: no-repeat;
}
a.email {
	background: none;
	background-image: url(../assets/icons/svg-icons/gmail.svg);
	background-repeat: no-repeat;
}


/* MEDIA QUERIES
====================================*/
/*On devices that are larger that 790px, this happens*/
@media only screen and (min-device-width: 768px) {
    .projects-intro {
        background-attachment: fixed;
    }
	#projects ol {
		width: 100%;
	}
	.screenshot {
		min-height: 250px;
		max-width: 550px;
		background-size: ;
		background-position: center 20%;
	}
	.btn-group:hover,
	.btn-group:focus {
		height: 30%;
	}
	.btn-group div:hover,
	.btn-group div:focus {
		background-color: #fff;
	}
	.screen-overlay:hover + .btn-group,
	.screen-overlay:focus + .btn-group {
		height: 30%;
	}
	
	.icon-cont {
		max-width: 100%;
	}
	.contact-icon {
		width: 75px;
		height: 75px;
	}
}






