* {
    box-sizing: border-box;
}
body {
  font-size: 1.2em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 5px;
}
a {
   background-color: rgb(0,200,200);
    padding: 6px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
h1, h2 {
    font-family: 'Oswald', sans-serif;
}
h1 {
    color: rgb(0,200,200);
    font-size: 2.2em;
}
h2 {
    display: inline-block;
    margin-bottom: 0;
}
p {
    font-family: 'Roboto', sans-serif;
}
.intro {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    text-align: center;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer {
    text-align: center;
    padding: 8px;
}

/* MAIN BODY
====================================*/
.main-cont {
	
}
.intro-cont {
	height: 500px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.treeHouse-projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
	margin: 0 12px;
}
.treeHouse-projects-list li {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
li:nth-child(odd) {
	background-color: #eee;
}
.vid-cont {
	display: inline-block;
	float: left;
	margin-right: 6em;
}












